.jigouleibie{
padding:0 0px;
margin-bottom: 10px;
}
.xnbtnbox{
padding:0 0px;
margin-bottom: 6px;
}
.xnbtn,.xnbtn2,.xnbtn3{
width: 95%;
background-color:#d4d4d4 !important;
}
.tit{
margin-bottom: 5px;
}
.xnbtn3{
	width: 95%;
}